/* === SIDEBAR MAIN STYLE === */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100vh; /* full height */
    background-color: #0d6efd;
    padding: 20px;
    color: white;
    overflow-y: auto;
}

.nav-link {
    display: block;
    padding: 10px 14px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    font-size: 15px;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.25);
}

.active-link {
    background: white !important;
    color: #0d6efd !important;
    font-weight: bold;
}

.main-content {
    margin-left: 250px;
}